<div class="section">
  <div class="container is-fluid" *ngIf="isEmpty(mediaFiles); else noContent">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h1>Media</h1>
      </div>
    </div>

    <virtual-scroller #scroll class="scroll-window" [parentScroll]="scroll.window" [items]="mediaFiles">
      <div class="columns is-multiline video-list" #container>
        <app-video-card-layout
          *ngFor="let item of scroll.viewPortItems"
          [mediaFile]="item"
          [favourites]="favourites"
          [mediaLists]="mediaLists"
          class="column is-2"
        >
        </app-video-card-layout>
      </div>
    </virtual-scroller>
  </div>

  <ng-template #noContent>
    <div class="container is-fluid">
      <div class="column is-12 has-text-centered"></div>
    </div>
  </ng-template>
</div>
