<div *ngIf="user | async" class="section">
  <div class="container is-fluid">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h1>Media</h1>
      </div>
      <div class="column is-4 is-offset-4">
        <app-search-bar (valueChange)="search($event)"></app-search-bar>
      </div>
    </div>

    <virtual-scroller #scroll class="scroll-window" [parentScroll]="scroll.window" [items]="mediaFiles">
      <div class="columns is-multiline video-list" #container>
        <app-video-card-layout *ngFor="let item of scroll.viewPortItems" [video]="item" class="column is-2">
        </app-video-card-layout>
      </div>
    </virtual-scroller>
  </div>
</div>
