.section {
  margin-top: 50px;
}

.video-header {
  margin-bottom: 40px;

  img.rounded {
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: white;
  }

  .title {
    font-size: 34px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }

  .metadata {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
  }

  .action-bar {
    display: inline-block;
    margin-top: 15px;
  }

  .action {
    display: inline-block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    text-transform: uppercase;
    font-weight: 500;
    padding-right: 20px;

    &:hover {
      cursor: pointer;
    }
  }
}

.video-player {
  margin-bottom: 15px;
}

.videos-with-title {
  font-size: 16px;
  font-weight: 500;
  color: #0a0a0a;
  margin-bottom: 24px;
}
