<div class="section" *ngIf="mediaFile">
  <div class="container is-fluid">
    <div class="columns video-header">
      <div class="column">
        <h1>{{ mediaFile.name }}</h1>
      </div>
    </div>

    <div class="columns is-multiline">
      <div class="column is-12">
        <video width="100%" controls preload="auto">
          <source src="{{ mediaFile.id | remoteVideo }}" type="video/mp4" />
        </video>
      </div>
    </div>

    <div class="stacked-card">
      <div class="columns is-multiline">
        <div class="column is-12">
          <ul>
            <li class="action" *ngIf="favourites | async as favourites">
              <div *ngIf="isInList(favourites, mediaFile); else addToListButton">
                <button mat-button (click)="removeFromList(favourites, mediaFile)">
                  <mat-icon>remove_from_queue</mat-icon>
                  Remove from library
                </button>
              </div>

              <ng-template #addToListButton>
                <button mat-button (click)="addToList(favourites, mediaFile)">
                  <mat-icon>add_to_queue</mat-icon>
                  Add to library
                </button>
              </ng-template>
            </li>

            <li class="action">
              <button mat-button [matMenuTriggerFor]="playlists">
                <mat-icon>playlist_add</mat-icon>
                Add to list
              </button>
            </li>

            <mat-menu #playlists="matMenu">
              <ng-template matMenuContent>
                <button (click)="createMediaList(mediaFile)" mat-menu-item>New list</button>

                <div *ngFor="let mediaList of mediaLists | async">
                  <button (click)="addToList(mediaList, mediaFile)" mat-menu-item>
                    {{ mediaList.name }}
                  </button>
                </div>
              </ng-template>
            </mat-menu>

            <li class="action is-pulled-right">
              <button mat-button>
                <mat-icon>delete_forever</mat-icon>
                Delete from disk
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="stacked-card">
      <h2>Metadata</h2>

      <div class="columns is-multiline">
        <div class="column is-12">
          <table>
            <tr>
              <td>Id</td>
              <td>{{ mediaFile.id }}</td>
            </tr>
            <tr>
              <td>Name</td>
              <td>{{ mediaFile.name }}</td>
            </tr>
            <tr>
              <td>Extension</td>
              <td>{{ mediaFile.extension }}</td>
            </tr>
            <tr>
              <td>Path</td>
              <td>{{ mediaFile.path }}</td>
            </tr>
            <tr>
              <td>Created</td>
              <td>{{ mediaFile.createdTime | amTimeAgo }}</td>
            </tr>
            <tr>
              <td>last accessed</td>
              <td>{{ mediaFile.lastAccessTime | amTimeAgo }}</td>
            </tr>
            <tr>
              <td>last modified</td>
              <td>{{ mediaFile.lastModifiedTime | amTimeAgo }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
