<div class="section" *ngIf="mediaFile | async as video">
    <div class="container">
        <div class="columns video-header">
            <div class="column">
                <h1>{{ video.name }}</h1>
            </div>
        </div>

        <div class="columns is-multiline">
            <div class="column is-12">
                <mat-video
                        src="{{ video.path | remoteVideo }}"
                        [download]="true"
                        [title]="video.name"
                        [poster]="coverImage(video) | remoteImage"
                ></mat-video>
            </div>
        </div>

        <div class="stacked-card">
            <div class="columns is-multiline">
                <div class="column is-12">
                    <ul>
                        <li class="action" *ngIf="favourites | async as favourites">
                            <div *ngIf="isInList(favourites, video); else addToListButton">
                                <button mat-button (click)="removeFromList(favourites, video)">
                                    <mat-icon>add_to_queue</mat-icon>
                                    Remove from favourites
                                </button>
                            </div>

                            <ng-template #addToListButton>
                                <button mat-button (click)="addToList(favourites, video)">
                                    <mat-icon>add_to_queue</mat-icon>
                                    Add to favourites
                                </button>
                            </ng-template>
                        </li>

                        <li class="action">
                            <button mat-button [matMenuTriggerFor]="playlists">
                                <mat-icon>playlist_add</mat-icon>
                                Add to list
                            </button>
                        </li>

                        <mat-menu #playlists="matMenu">
                            <ng-template matMenuContent>
                                <button (click)="createMediaList(video)" mat-menu-item>New list</button>

                                <div *ngFor="let mediaList of mediaLists | async">
                                    <button (click)="addToList(mediaList, video)" mat-menu-item>
                                        {{ mediaList.name }}
                                    </button>
                                </div>
                            </ng-template>
                        </mat-menu>

                        <li class="action is-pulled-right">
                            <button mat-button>
                                <mat-icon>delete_forever</mat-icon>
                                Delete from disk
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="stacked-card">
            <h2>Metadata</h2>

            <div class="columns is-multiline">
                <div class="column is-12">
                    <p class="metadata">Id: {{ video.id }}</p>
                    <p class="metadata">Name: {{ video.name }}</p>
                    <p class="metadata">Extension: {{ video.extension }}</p>
                    <p class="metadata">Path: {{ video.path }}</p>
                    <p class="metadata">Created: {{ video.createdTime | amTimeAgo }}</p>
                    <p class="metadata">last accessed: {{ video.lastAccessTime | amTimeAgo }}</p>
                    <p class="metadata">last modified: {{ video.lastModifiedTime | amTimeAgo }}</p>
                    <p class="metadata">Imported: {{ video.importedTime | amTimeAgo }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
