.terrible-title {
  color: var(--light-theme-text-color);
  cursor: default;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin: 14px 0;
}

.action {
  color: var(--primary-color);
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

table {
  td {
    padding-right: 10px;
  }
}
