.action {
  color: #294661;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

table {

  td {
    padding-right: 10px;
  }
}
