img {
  background: #dbdbdb;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.is-64x64 {
  height: 64px;
  width: 64px;
}

.is-32x32 {
  height: 24px;
  margin-right: 14px;
  width: 24px;
}
