<header>
  <app-select-bar *ngIf="isSelectBar(); else navbar"></app-select-bar>

  <ng-template #navbar>
    <nav class="navbar top-bar is-fixed-top" #menuElement>
      <div class="navbar-brand">
        terrible.io
      </div>

      <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
        <div class="navbar-item">
          <app-search-bar (valueChange)="search($event)"></app-search-bar>

          <ul class="search-results" *ngIf="showSearchResults()">
            <li *ngFor="let video of searchResults" class="search-results-item">
              <div class="columns">
                <div class="column is-2">
                  <figure class="image">
                    <img *ngIf="coverImage(video) | remoteImage as thumbnail" [src]="thumbnail" alt="thumbnail" />
                  </figure>
                </div>

                <div (click)="goTo(video.id)" class="column is-10">
                  <p>{{ video.name }}</p>
                  <p class="metadata">{{ video.path }}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </ng-template>

  <app-navigation-bar [hasZeroIndex]="hasZeroIndex"></app-navigation-bar>
</header>
