header {
  margin-bottom: 42px;
}

.navbar-brand {
  align-items: center;
  font-weight: 500;
  height: 60px;
  margin-left: 10px;
}

.navbar {
  background-color: rgba(255, 255, 255, .98);
  border-bottom: 1px solid #e9ecef;
}

.search-results {
  background-color: #ffffff;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .4);
  color: #444;
  display: block;
  max-height: 50vh;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  top: 56px;
  transition: all .2s ease;
  width: 800px;
  z-index: 2;

  .search-results-item {
    padding: 7px;

    .image {
      margin-top: 5px;
    }

    &:hover {
      background-color: #f5f5f5;
      cursor: pointer;
    }

    &:hover {
      .video-menu-trigger {
        visibility: visible;
      }
    }

    .video-menu-trigger {
      visibility: hidden;
      .mat-icon {
        color: #444;
      }
    }
  }
}
