<div class="tab-body-content">
  <div class="columns">
    <div class="column is-3">
      <h2 class="header">Files</h2>
    </div>

    <div class="column is-9">
      <div class="stacked-card">
        <div class="columns is-multiline">
          <div class="column is-2">
            <div class="title">Directories</div>
          </div>
          <div class="column is-10">
            <div class="edit-button">
              <mat-icon fontSet="material-icons-outlined" (click)="editDirectories()">edit</mat-icon>
            </div>
            <div class="content" *ngFor="let directory of directories | async ">
              <span>{{directory.path}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="stacked-card">
        <div class="columns is-multiline">
          <div class="column is-2">
            <div class="title">Scan Frequency</div>
          </div>
          <div class="column is-10">
            <div class="edit-button">
              <mat-icon fontSet="material-icons-outlined">edit</mat-icon>
            </div>
            <div class="content">
              <span>Every 5 minutes</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

