<div class="tab-body-content">
  <div class="columns">
    <div class="column is-3">
      <h2 class="header">Your account</h2>
    </div>

    <div class="column is-9">
      <div class="stacked-card">
        <div class="columns is-multiline">
          <div class="column is-2">
            <div class="title">About</div>
          </div>
          <div class="column is-10">
            <div class="edit-button">
              <mat-icon (click)="editAbout()" fontSet="material-icons-outlined">edit</mat-icon>
            </div>
            <div class="content">
              <span>{{ user.displayName }}</span>
            </div>
            <div class="content">
              <span>{{ user.email }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="stacked-card">
        <div class="columns is-multiline">
          <div class="column is-2">
            <div class="title">Account</div>
          </div>
          <div class="column is-10">
            <div class="edit-button">
              <mat-icon (click)="editAccount()" fontSet="material-icons-outlined">edit</mat-icon>
            </div>
            <div class="content">
              <span>{{ user.uid }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="stacked-card">
        <div class="columns is-multiline">
          <div class="column is-2">
            <div class="title">Timezone</div>
          </div>
          <div class="column is-10">
            <div class="edit-button">
              <mat-icon (click)="editTimezone()" fontSet="material-icons-outlined">edit</mat-icon>
            </div>
            <div class="content">
              <span>{{ timezone }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
