<div class="section" *ngIf="user">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h1>Profile</h1>
      </div>

      <div class="column is-12">
        <mat-tab-group animationDuration="0" dynamicHeight>
          <mat-tab label="Account">
            <div class="tab-body-content">
              <div class="columns">
                <div class="column is-3">
                  <h2 class="header">Your account</h2>
                </div>

                <div class="column is-9">
                  <div class="stacked-card">
                    <div class="columns is-multiline">
                      <div class="column is-2">
                        <div class="title">About</div>
                      </div>
                      <div class="column is-10">
                        <div class="edit-button">
                          <mat-icon fontSet="material-icons-outlined" (click)="editAbout()">edit</mat-icon>
                        </div>
                        <div class="content">
                          <span>{{ user.displayName }}</span>
                        </div>
                        <div class="content">
                          <span>{{ user.email }}</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="stacked-card">
                    <div class="columns is-multiline">
                      <div class="column is-2">
                        <div class="title">Account</div>
                      </div>
                      <div class="column is-10">
                        <div class="edit-button">
                          <mat-icon fontSet="material-icons-outlined" (click)="editAccount()">edit</mat-icon>
                        </div>
                        <div class="content">
                          <span>{{ user.uid }}</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="stacked-card">
                    <div class="columns is-multiline">
                      <div class="column is-2">
                        <div class="title">Timezone</div>
                      </div>
                      <div class="column is-10">
                        <div class="edit-button">
                          <mat-icon fontSet="material-icons-outlined" (click)="editTimezone()">edit</mat-icon>
                        </div>
                        <div class="content">
                          <span>{{ timezone }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="System Settings">
            <div class="tab-body-content">
              <div class="columns">
                <div class="column is-3">
                  <h2 class="header">Files</h2>
                </div>

                <div class="column is-9">
                  <div class="stacked-card">
                    <div class="columns is-multiline">
                      <div class="column is-2">
                        <div class="title">Directories</div>
                      </div>
                      <div class="column is-10">
                        <div class="edit-button">
                          <mat-icon fontSet="material-icons-outlined">edit</mat-icon>
                        </div>
                        <div class="content">
                          <span>/Volumes/media/Movies</span>
                        </div>
                        <div class="content">
                          <span>/Volumes/media/Tv</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="stacked-card">
                    <div class="columns is-multiline">
                      <div class="column is-2">
                        <div class="title">Scan Frequency</div>
                      </div>
                      <div class="column is-10">
                        <div class="edit-button">
                          <mat-icon fontSet="material-icons-outlined">edit</mat-icon>
                        </div>
                        <div class="content">
                          <span>Every 5 minutes</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
