<div class="section">
  <div class="container is-fluid">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h1>Profile</h1>
      </div>

      <div class="column is-12">
        <mat-tab-group animationDuration="0" dynamicHeight>
          <mat-tab label="Account" *ngIf="user | async as user">
            <app-tab-account [user]="user"></app-tab-account>
          </mat-tab>

          <mat-tab label="System Settings">
            <app-tab-system-settings></app-tab-system-settings>
          </mat-tab>

          <mat-tab label="Danger Zone">
            <app-tab-danger-zone></app-tab-danger-zone>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
