<div class="columns is-fullheight is-multiline is-fluid">
  <aside class="column is-12 is-narrow-mobile is-fullheight is-hidden-mobile">
    <ul class="user-profile">
      <li class="menu-item" *ngIf="user | async as user">
        <div class="with-icon">
          <app-user-picture></app-user-picture>
          {{ user.displayName }}
        </div>
      </li>
    </ul>

    <ul>
      <li class="menu-item" [routerLink]="'/'">
        <div class="with-icon">
          <mat-icon fontSet="material-icons-outlined">home</mat-icon>
          Home
        </div>
      </li>
      <li class="menu-item" [routerLink]="'/library'">
        <div class="with-icon">
          <mat-icon fontSet="material-icons-outlined">video_library</mat-icon>
          Libraries
        </div>
      </li>
      <li class="menu-item" [routerLink]="'/profile'">
        <div class="with-icon">
          <mat-icon>perm_identity</mat-icon>
          Profile
        </div>
      </li>
    </ul>
  </aside>

  <div class="container column is-10 is-fluid">
    <div class="columns is-fullheight">
      <div class="column is-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
