<div class="section">
  <div class="container is-fluid">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h1>History</h1>
      </div>

      <div class="column is-12" *ngIf="history | async as history; else noContent">
        <virtual-scroller #scroll class="scroll-window" [parentScroll]="scroll.window" [items]="history.results">
          <div class="stacked-card on-hover" *ngFor="let item of scroll.viewPortItems" @fade (click)="goTo(item)">
            <div class="columns is-multiline">
              <div class="column is-12">
                <div class="content">
                  <span class="last-watched-time">{{ item.lastWatched | amCalendar }}</span>
                  <span>{{ item.name }}</span>
                </div>
              </div>
            </div>
          </div>
        </virtual-scroller>
      </div>

      <ng-template #noContent>
        <div class="column is-12 has-text-centered">
          <div class="stacked-card">
            <p class="content">There is no history at this time.</p>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
