<div class="section">
  <div class="container is-fluid">
    <app-page-title input="History"></app-page-title>

    <div class="columns is-multiline">
      <div class="column is-12" *ngIf="history | async as history">
        <virtual-scroller #scroll class="scroll-window" [parentScroll]="scroll.window" [items]="history.results">
          <div class="stacked-card on-hover" *ngFor="let item of scroll.viewPortItems" @fade (click)="goTo(item)">
            <div class="columns is-multiline">
              <div class="column is-2">
                <div class="title">{{ convertDate(item.lastWatched) | amTimeAgo}}</div>
              </div>
              <div class="column is-10">
                <div class="content">
                  <span>{{ item.name }}</span>
                </div>
              </div>
            </div>
          </div>
        </virtual-scroller>
      </div>
    </div>
  </div>
</div>
