<aside class="column is-12 is-narrow-mobile is-fullheight is-hidden-mobile">
  <ul>
    <li class="menu-item" [routerLink]="'/'">
      <div class="with-icon">
        <mat-icon fontSet="material-icons-outlined">home</mat-icon>
        Home
      </div>
    </li>
    <li class="menu-item" [routerLink]="'/library'">
      <div class="with-icon">
        <mat-icon fontSet="material-icons-outlined">video_library</mat-icon>
        Libraries
      </div>
    </li>
    <li class="menu-item" [routerLink]="'/system'">
      <div class="with-icon">
        <mat-icon fontSet="material-icons-outlined">settings</mat-icon>
        System
      </div>
    </li>
    <li class="menu-item" [routerLink]="'/history'">
      <div class="with-icon">
        <mat-icon>history</mat-icon>
        History
      </div>
    </li>
    <li class="menu-item" [routerLink]="'/statistics'">
      <div class="with-icon">
        <mat-icon fontSet="material-icons-outlined">show_chart</mat-icon>
        Statistics
      </div>
    </li>
  </ul>
</aside>
