<div class="video selectedVideo" @fade [ngClass]="{ selectedVideo: mediaFile.isSelected }">
  <mat-checkbox
    class="checkbox-overlay"
    (change)="select($event)"
    [checked]="mediaFile.isSelected"
    [color]="'primary'"
  ></mat-checkbox>

  <div (click)="goTo(mediaFile)">
    <div class="overlay">
      <figure class="image is-3by2">
        <img *ngIf="coverImage(mediaFile) | remoteImage as thumbnail" [src]="thumbnail" alt="thumbnail"/>
      </figure>
    </div>

    <div class="video-name">
      {{ mediaFile.name }}
    </div>
    <div class="video-meta">
      {{ convertDate(mediaFile.createdTime) | amTimeAgo }}
      <span class="is-pulled-right">{{ mediaFile.size | fileSize }}</span>
    </div>
  </div>

  <div>
    <app-video-card-menu
      [mediaFile]="mediaFile"
      [favourites]="favourites"
      [mediaList]="mediaList"
      [mediaLists]="mediaLists"
      [removeFromCollection]="removeFromCollection"
    ></app-video-card-menu>
  </div>
</div>
