<div class="video" @fade>
  <div (click)="goTo(mediaFile)">
    <div class="overlay">
      <figure class="image is-3by2">
        <img *ngIf="coverImage(mediaFile) | remoteImage as thumbnail" [src]="thumbnail" alt="thumbnail" />
      </figure>
    </div>

    <div class="video-name">
      {{ mediaFile.name }}
    </div>
    <div class="video-meta">
      {{ mediaFile.lastModifiedTime | amTimeAgo }} <span class="is-pulled-right">{{ mediaFile.size | fileSize }}</span>
    </div>
  </div>

  <div>
    <app-video-card-menu
      [mediaFile]="mediaFile"
      [favourites]="favourites"
      [mediaList]="mediaList"
      [mediaLists]="mediaLists"
    ></app-video-card-menu>
  </div>
</div>
