.video {
  background-color: white;
  border: 1px solid #dadce0;
  box-shadow: none;
  position: relative;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);

  &.selectedVideo {
    box-shadow: none;
    .checkbox-overlay {
      visibility: visible;
    }
    &:hover {
      box-shadow: none;
      ::ng-deep .video-action-menu {
        visibility: hidden;
      }
    }
  }

  &:hover {
    cursor: pointer;

    .image {
      opacity: 0.8;
    }

    .checkbox-overlay {
      visibility: visible;
    }

    ::ng-deep .video-action-menu {
      visibility: visible;
    }
  }

  .overlay {
    background-color: #0a0a0a;
  }

  .video-name {
    color: #111;
    font-size: 14px;
    font-weight: 500;
    height: 42px;
    line-height: 16px;
    margin: 8px 0;
    overflow: hidden;
    padding: 10px;
    word-wrap: break-word;
  }

  .video-meta {
    color: rgba(17, 17, 17, 0.6);
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    padding: 10px;
  }

  .image {
    display: block;
    height: 100%;
    width: 100%;
  }

  .checkbox-overlay {
    left: 6px;
    position: absolute;
    top: 2px;
    visibility: hidden;
    z-index: 2;
  }

  ::ng-deep .video-action-menu {
    visibility: hidden;
  }
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: rgba(255, 255, 255, 0.7);
}
