.search-box {
  position: relative;
  z-index: 0;

  ::placeholder {
    color: #546b81;
    opacity: 1;
  }

  input {
    width: 100%;
    position: relative;
    display: block;
    background-color: #f5f5f5;
    overflow: hidden;
    z-index: 1;
    border: none;
    border-radius: 0;
    transition: border 0.1s ease-out;
    font-weight: 400;
    outline: none;
    color: #546b81;
    padding: 14px 14px 14px 70px;
    font-size: 13px;

    &:focus {
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
      0 5px 5px -3px rgba(0, 0, 0, 0.4);
    }
  }

  .ais-SearchBox-reset,
  .ais-SearchBox-submit {
    margin-left: 5px;
    color: #404040;
  }

  .search-icon {
    color: #444444;
    position: absolute;
    z-index: 2;
    top: 11px;
    left: 24px;
  }

  .search-clear {
    color: #444444;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 24px;
  }
}

.search-results {
  color: #444444;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
  position: absolute;
  display: block;
  transition: all 0.2s ease;
  overflow: hidden;
  width: 800px;
  top: 56px;
  background-color: white;
  z-index: 2;
  overflow-y: auto;
  max-height: 50vh;
  border-radius: 0 0 2px 2px;

  .search-results-item {
    .image {
      margin-top: 5px;
    }

    &:hover {
      background-color: #f5f5f5;
      cursor: pointer;
    }

    padding: 7px;

    &:hover {
      .video-menu-trigger {
        visibility: visible;
      }
    }

    .video-menu-trigger {
      visibility: hidden;

      .mat-icon {
        color: #444444;
      }
    }
  }
}
