<nav class="navbar top-bar is-fixed-top select-bar">
  <div class="navbar-brand">terrible.io</div>

  <div class="navbar-start">
    <div class="navbar-item">
      <div class="selected-count">{{ selectedLabel() }}</div>
    </div>
    <div class="navbar-item">
      <button mat-flat-button (click)="clear()">Deselect all</button>
    </div>
  </div>

  <div class="navbar-end">
    <div class="navbar-item" *ngIf="favourites | async as favourites">
      <button mat-icon-button [matTooltip]="'Add all to library'" (click)="addToList(favourites)">
        <mat-icon>favorite_border</mat-icon>
      </button>
    </div>
    <div class="navbar-item">
      <button mat-icon-button [mat-menu-trigger-for]="extraMenu" [matTooltip]="'Extra options'">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
</nav>

<!-- Extra menu content -->
<mat-menu #extraMenu="matMenu" xPosition="before">
  <button mat-menu-item (click)="ignoreMediaFile()">Ignore files</button>

  <button mat-menu-item (click)="recreateThumbnails()">Recreate thumbnails</button>

  <button mat-menu-item (click)="deleteSelected()">Delete</button>
</mat-menu>
