<h1 mat-dialog-title>{{ data.title }}</h1>

<div mat-dialog-content>
  <div class="columns is-multiline">
    <div class="column is-12" *ngFor="let field of data.formFields">
      <mat-form-field class="is-fullwidth" shouldLabelFloat="false">
        <input matInput [value]="field.value" placeholder="{{ field.placeholder }}" disabled="{{ field.disabled }}"/>
      </mat-form-field>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-button color="primary">{{ data.cancelText }}</button>

  <button (click)="submit()" [mat-dialog-close]="true" mat-raised-button color="primary">
    {{ data.confirmText }}
  </button>
</div>
