<div class="columns is-multiline">
  <div class="column is-12">
    <div class="level">
      <div class="level-left">
        <span class="terrible-title">{{ title }}</span>
      </div>

      <div class="level-right">
        <button *ngIf="editButton" mat-icon-button (click)="edit()">
          <mat-icon fontSet="material-icons-outlined">edit</mat-icon>
        </button>
        <button *ngIf="deleteButton" mat-icon-button (click)="delete()">
          <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
        </button>
        <button *ngIf="sortButton" mat-icon-button [matMenuTriggerFor]="sortMenu">
          <mat-icon fontSet="material-icons-outlined">sort</mat-icon>
        </button>
        <mat-menu #sortMenu="matMenu">
          <button mat-menu-item (click)="sort('createdTime')">
            Created time
          </button>
          <button mat-menu-item (click)="sort('lastAccessTime')">
            Last accessed time
          </button>
          <button mat-menu-item (click)="sort('lastModifiedTime')">
            Last modified time
          </button>
          <button mat-menu-item (click)="sort('lastWatched')">
            Last watched time
          </button>
          <button mat-menu-item (click)="sort('name')">
            File name
          </button>
          <button mat-menu-item (click)="sort('size')">
            File size
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>
