<h1 mat-dialog-title>{{ input.title }}</h1>

<div mat-dialog-content>
  <div class="columns is-multiline">
    <div *ngFor="let field of input.formFields" class="column is-12">
      <mat-form-field class="is-fullwidth" shouldLabelFloat="false">
        <input
          [placeholder]="field.placeholder"
          [readonly]="field.isReadOnly"
          [(ngModel)]="field.value"
          [value]="field.value"
          matInput
        />
      </mat-form-field>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button (click)="onNoClick()" color="primary" mat-button>{{ input.cancelText }}</button>

  <button (click)="submit()" [mat-dialog-close]="true" color="primary" mat-raised-button>
    {{ input.confirmText }}
  </button>
</div>
