@import '~bulma';

html,
body {
  height: 100%;
  min-height: 100%;
  background-color: #fcfcfc;
}

.is-fullheight {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

h1 {
  margin-bottom: 27px;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -1px;
  font-weight: 600;
  color: #294661;
}

h2 {
  margin-bottom: 18px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.5px;
  font-weight: 600;
  color: #294661;
}

.metadata {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

// -------------------------------------------
// Custom material styles below
// -------------------------------------------
@import '~@angular/material/theming';
@include mat-core();

$blue: (
  500: #1a82e2,
  contrast: (
    500: #fff,
  ),
);

$custom-primary: mat-palette($blue);
$custom-accent: mat-palette($mat-pink, 500, 900, A100);
$custom-warn: mat-palette($mat-deep-orange);
$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);
@include angular-material-theme($custom-theme);

// Dialogs
.mat-dialog-actions {
  float: right;
  padding-bottom: 22px !important;
  padding-top: 22px !important;
}

.mat-dialog-content {
  overflow: visible !important;
}

.mat-form-field-infix {
  font-size: 13px !important;
}

// Forms
.mat-form-field {
  width: 100%;
}

// Tabs
.mat-tab-label {
  font-size: 13px;
}

.mat-tab-label.mat-tab-label-active {
  color: #1a82e2;
  font-weight: 400;
  font-size: 13px;
}

// Stacked Cards
.stacked-card {
  margin-top: -1px;
  background: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(233, 236, 239);
  border-image: initial;
  padding: 18px 20px;
  position: relative;

  h2 {
    font-size: 20px;
    color: #445b6c;
    line-height: 19px;
  }

  .edit-button {
    position: absolute;
    right: 15px;
    top: 15px;

    .mat-icon {
      font-size: 19px;
      color: #546b81;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .title {
    color: rgb(41, 70, 97);
    text-transform: capitalize;
    padding: 0;
    font-size: 13px;
    line-height: 20px;
  }

  .content {
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    color: #546b81;

    span {
      display: inline-block;
      word-break: break-all;
    }
  }
}
