.stacked-card {
  background: rgb(255, 255, 255);
  border-color: rgb(233, 236, 239);
  border-image: initial;
  border-style: solid;
  border-width: 1px;
  margin-top: -1px;
  padding: 18px 20px;
  position: relative;

  h2 {
    color: #445b6c;
    font-size: 20px;
    line-height: 19px;
  }

  .edit-button {
    position: absolute;
    right: 15px;
    top: 15px;

    .mat-icon {
      color: #546b81;
      font-size: 19px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .title {
    color: rgb(41, 70, 97);
    font-size: 13px;
    line-height: 20px;
    padding: 0;
    text-transform: capitalize;
  }

  .content {
    color: #546b81;
    font-size: 13px;
    line-height: 20px;
    margin: 0;

    span {
      display: inline-block;
      word-break: break-all;
    }
  }
}
