<nav class="navbar top-bar is-fixed-top select-bar" *ngIf="isSelectBar(); else navbar">
  <div class="navbar-brand">
    haps.io
  </div>

  <div class="navbar-start">
    <div class="navbar-item">
      <div class="selected-count">{{ selectedLabel }}</div>
    </div>
    <div class="navbar-item">
      <button mat-flat-button (click)="clear()">
        Deselect all
      </button>
    </div>
  </div>

  <div class="navbar-end">
    <div class="navbar-item" *ngIf="favourites | async as favourites">
      <button (click)="addToList(favourites)" mat-icon-button matTooltip="Add to library">
        <mat-icon>add_to_queue</mat-icon>
      </button>
    </div>

    <div class="navbar-item">
      <button [matMenuTriggerFor]="mediaListMenu" mat-icon-button matTooltip="Add to collection">
        <mat-icon aria-label="Add to collection">playlist_add</mat-icon>
      </button>

      <!-- List sub content -->
      <mat-menu #mediaListMenu="matMenu">
        <ng-template matMenuContent>
          <button (click)="createMediaList()" mat-menu-item>New collection</button>

          <div *ngFor="let mediaList of mediaLists">
            <button (click)="addToList(mediaList)" mat-menu-item>
              {{ mediaList.name }}
            </button>
          </div>
        </ng-template>
      </mat-menu>
    </div>

    <div class="navbar-item">
      <button mat-icon-button matTooltip="Delete forever" (click)="deleteSelected()">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>
  </div>
</nav>

<ng-template #navbar>
  <nav class="navbar top-bar is-fixed-top">
    <div class="navbar-brand">
      haps.io
    </div>

    <div class="navbar-start" style="flex-grow: 1; justify-content: center;">
      <div class="navbar-item">
        <app-search-bar (valueChange)="search($event)"></app-search-bar>

        <ul class="search-results" *ngIf="showSearchResults()">
          <li *ngFor="let video of searchResults" class="search-results-item">
            <div class="columns">
              <div (click)="goTo(video.id)" class="column is-11">
                <p>{{ video.name }}</p>
                <p class="metadata">{{ video.path }}</p>
              </div>

              <div class="column is-1"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar mid-bar" *ngIf="isLibrary">
    <nav mat-tab-nav-bar>
      <a
        mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.path"
        routerLinkActive
        #rla="routerLinkActive"
        [routerLinkActiveOptions]="{ exact: true }"
        [active]="rla.isActive"
      >
        {{ link.label }}
      </a>
    </nav>
  </nav>
</ng-template>
