.navbar-brand {
  align-items: center;
  font-weight: 500;
  margin-left: 10px;
  min-height: 55px;
}

.navbar {
  border-bottom: 1px solid #e9ecef;
  background-color: rgba(255, 255, 255, 0.98);
}

.mid-bar {
  top: 64px;
  width: 100%;
  z-index: 1;

  .tabs {
    background-color: white;
    margin-left: 100px;
    position: absolute;
    bottom: -1px;

    a {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.87);
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}

.dynamic-row {
  height: auto;
  padding: 0;
}

.mat-tab-nav-bar {
  height: 100%;
  padding: 14px 0 0 100px;
  width: 100%;
}

.mat-tab-links {
  margin-bottom: auto;
}

.mat-tab-link {
  text-transform: capitalize;
  font-size: 13px;
  color: #294661;
  font-weight: 400;
  min-width: 0;
  padding: 0 14px;
}

.search-results {
  color: #444444;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
  position: absolute;
  display: block;
  transition: all 0.2s ease;
  overflow: hidden;
  width: 800px;
  top: 56px;
  background-color: white;
  z-index: 2;
  overflow-y: auto;
  max-height: 50vh;
  border-radius: 0 0 2px 2px;

  .search-results-item {
    .image {
      margin-top: 5px;
    }

    &:hover {
      background-color: #f5f5f5;
      cursor: pointer;
    }

    padding: 7px;

    &:hover {
      .video-menu-trigger {
        visibility: visible;
      }
    }

    .video-menu-trigger {
      visibility: hidden;

      .mat-icon {
        color: #444444;
      }
    }
  }
}
